<%- include("header.ejs") %>
<div class="down">
    <h4> I'm Ajay Padigela</h4>
    <p>A college student from Sreenidhi institute of science and technology currently in my third year doing Information Tachnology.</p>

</div>
</body>
</html>